
/*INDEX*/

.navBar{
  display: flex;
  justify-content: space-between;
  
}

.logo a img{
    font-size: 100px;
    height: 100px;
    
}

.navList{
   list-style-type: none;
   text-decoration: none;
}

.navList li{
    display: inline-block;
    padding: 0;
    margin: 0px 5px;
    
}
.navList li a{
  text-decoration: none;
  font-weight: bold;
}

.subtema{
  text-align: center;
  font-size: 2  rem;
}

.textP{
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

.list-div-img{
  display: flex;
align-items: center;
justify-content: space-between;
  
}
.list-div-item{
  margin: 5px;
}
.list-div-item a img{
  width: 400px;
  height: 400px;
  
}
.list-div-item a{
  text-align: center;
  text-decoration: none;
}

@media (max-width: 800px) {
  .list-div-img {
    flex-direction: column;
  }
}

span{
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
}

section{
  text-align: center;
}
.img-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  /*grid-template-areas*/
  
}

/*PRODUCTOS*/
.col{
  margin: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.col img{
  height: 500px;
 
}